<% @posts.each do |post| %>
  <div><%= link_to post.title, "/posts/#{post.id}" %></div>
<% end %>

<!--refactor: Instead of hard-coding the path and using string interpolation, let's use post_path and pass in the post argument.





-->